atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlin

# Mac specific
zsh/.zcompdump
.DS_Store
ghc.symlink/ghci_history
zsh/.zcompdump
bin/subl
zsh/.zhistory
